@import url('https://css.gg/css?=software-download|erase|sync');
.Menu {
  position: relative;
  grid-area: menu;
  width: 300px; height: 100%;
  background-color: #fff;

  display: grid;
  grid-template-rows: repeat(2, 64px) 100fr;

  &-buttons, &-tabs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    .Menu-button {
      cursor: pointer;
      flex-grow: 1;
      border: none;
      background-color: hsl(219, 79%, 80%);
      transition: 0.25s ease filter;
      &:hover {
        filter: brightness(80%);
      }
    }
  }
  &-buttons {
    .Menu-button {
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
    a.Menu-button>button {
      background: none;
      border: none;
      cursor: pointer;
    }
    .hamburger {
      display: none;
      border: none;
      width: 3rem;
      font-size: 32px;
      background-color: white;
      cursor: pointer;
    }
  }
  &-tabs {
    .Menu-button {
      height: 3rem;
      border-right: 1px solid hsla(0,0%,0%,0.2);
      &:first-child {
        border-top-left-radius: 8px;
      }
      &:last-child {
        border-top-right-radius: 8px;
        border-right: none;
      }
    }
  }
  &-item-container {
    height: calc(100vh - 128px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  @media only screen and (max-width: calc(100vmin + 300px)) {
    & {
      position: absolute;
      left: -300px;
      transition: 0.25s ease left;
      &-open {
        left: 0;
      }
      .spacer {
        width: 64px;
      }
      .hamburger {
        display: block;
        position: fixed;
        top: 0; left: 0;
        height: 64px; width: 64px;
        z-index: 1;
      }
    }
  }
}