.MenuItem {
    width: 90%;
    margin: 5%;
    filter: drop-shadow(0 2px 2px hsla(0,0,0,0.3));
    transition: 0.25s ease filter;
    &:hover {
        cursor: pointer;
        filter: drop-shadow(0 4px 8px hsla(0,0,0,0.3));
    }
}